*{color:#555555;font-family:sans-serif;}

#startGeneration{
    background-color:lightgreen;
}

#pauseGeneration {
    display:none;
    background-color:lemonchiffon;
}
#resumeGeneration {
    display:none;
    background-color:lavender;
}
#resetGeneration {
    background-color:lightskyblue;
}

#typeOfChild {
    display:inline-block;
    color:cornflowerblue;
}

#canv {
    image-rendering:pixelated;
    width:500px;
    height:500px;
}

#invCanv {
    display:none;
}

.options {
    margin-top:10px;
    margin-bottom:20px;
    display:inline-block;
}

.option {
    border:1px solid #D0D0D0;
    border-radius:10px;
    padding:10px;
    height:30px;
    display:inline-block;
    line-height:30px;
}